<template>
    <span class="font-bold">Duration: </span>
    <template v-for="item in duration">
        <template v-if="item.type == 'timed'">
            <span v-if="item.concentration">Concentration, </span>
            <span v-if="item.duration.type != 'round'">up to </span>
            <span>{{ item.duration.amount + " " }}</span>
            <span>{{ item.duration.type }}</span>
        </template>
        <template v-else-if="item.type == 'instant'">
            <span>Instantaneous</span>
        </template>
    </template>
</template>

<script setup>
const props = defineProps(["duration"]);
</script>