<template>
    <div class="stat-block">
        <div class="header">
            <div class="grow">
                <a :href="buildTitleHref(type, item.name, item.source)" target="__blank" rel="noopener">
                    <h3 class="text-2xl">{{ item.name }}</h3>
                </a>
            </div>
            <a :href="buildSourceHref(item.source, item.page)" target="__blank" rel="noopener">
                <h4 class="text-xl">{{ item.source }}</h4>
                <span>p{{ item.page }}</span>
            </a>
        </div>
        <div class="stat-block--body">
            <!-- <div class="italic" v-if="prerequisiteHTML">
            <span v-for="p in prerequisiteHTML" v-html="p"></span>
        </div> -->
            <div v-if="item.level && item.school">
                <span class="italic">{{ ordinal(item.level) }}-level {{ magicSchools[item.school] }}</span>
            </div>
            <div v-if="item.time">
                <span class="font-bold">Casting Time: </span>
                <span v-for="timeItem in item.time">{{ timeItem.number }} {{ timeItem.unit }}</span>
            </div>
            <div v-if="item.range">
                <span class="font-bold">Range: </span>
                <span>{{ item.range.distance.type }}</span>
            </div>
            <div v-if="item.components">
                <span class="font-bold">Components: </span>
                <span v-if="item.components.v">V, </span>
                <span v-if="item.components.s">S, </span>
                <span v-if="item.components.m">M, ({{ item.components.m.text || item.components.m }})</span>
            </div>
            <StatBlockDuration v-if="item.duration" :duration="item.duration"></StatBlockDuration>
            <div class="br"></div>
            <div>
                <div v-for="entry in entriesHTML" v-html="entry">
                </div>
                <template v-if="item.entriesAtHigherLevelHTML">
                    <span class="font-bold italic">At Higher Levels.</span>
                    <div v-for="entry in entriesAtHigherLevelHTML" v-html="entry">
                    </div>
                </template>
                <p>
                    <span class="font-bold">Source: </span>
                    <a :href="buildSourceHref(item.source, item.page)" target="__blank" rel="noopener">
                        <span class="italic">{{ item.source }}</span>
                        <span> p{{ item.page }}.</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script setup>
import { computed } from 'vue';
import { ordinal } from "../intl";
import StatBlockDuration from "./StatBlockDuration.vue"
import renderEntry from "../renderEntry";

const props = defineProps(["item", "type"]);

const entriesHTML = computed(() => {
    return props.item.entries.map(renderEntry);
})

const entriesAtHigherLevelHTML = computed(() => {
    return props.item.entriesHigherLevel?.entries ?
        props.item.entriesHigherLevel.entries.map(renderEntry) :
        null;
})

const prerequisiteHTML = computed(() => {
    return props.item.prerequisite?.map(renderEntry);
})

const magicSchools = {
    A: "Abjuration",
    C: "Conjuration",
    D: "Divination",
    Du: "Dunamancy",
    En: "Enchantment",
    Ev: "Evocation",
    I: "Illusion",
    N: "Necromancy",
    T: "Transmutation"
}

const ordinalRules = new Intl.PluralRules("en", {
    type: "ordinal"
});

function buildTitleHref(type, title, source) {
    return `https://5e.tools/${type}.html#${encodeURI((title + "_" + source).toLowerCase())}`;
}

function buildSourceHref(source, page) {
    return `https://5e.tools/book.html#${encodeURI(source.toLowerCase())},page:${page}`;
}
</script>

<style lang="scss">
.stat-block {
    background: #fdf1dc;
    border-top: 3px solid #e69a28;
    border-bottom: 3px solid #e69a28;
    margin: 8px 0;
    padding: 8px;
    max-width: 465px;

    .header {
        display: flex;
        gap: 8px;

        a {
            display: flex;
            gap: 8px;
            text-decoration: none;

            span {
                color: #333;
            }

            h3:hover,
            h4:hover,
            span:hover {
                text-decoration: underline;
            }
        }

        h3 {
            color: #822000;
        }

        h4 {
            color: #4a6898;
        }
    }

    .br {
        border-bottom: solid 2px #822000;
        height: 0px;
        margin: 8px 0;
    }

    .stat-block--body {

        table,
        h4 {
            margin-top: 1em;
        }
    }

    td {
        p {
            margin: 1px;
        }
    }

    tr:nth-child(even) {
        background: rgba(203, 191, 170, .5);
    }

    .caption {
        color: #777;
    }

    ul {
        list-style: disc;
        padding-left: 24px;

        ul {
            list-style: circle;
        }
    }

    li:has(ul) {
        list-style: none;
    }
}
</style>
