<script setup>
import dataFeat from "../5etools-mirror-2.github.io/data/feats.json";
import dataSpells from "../data/spells";
import dataFeatures from "../5etools-mirror-2.github.io/data/optionalfeatures.json";
import { ref } from "vue";
import StatBlock from "./components/StatBlock.vue";
import seedrandom from "seedrandom";

const baseUrl = import.meta.env.BASE_URL;

const boonFeat = ref();
const boonSpell = ref();
const boonFeature = ref();

//Seed random
const params = new URLSearchParams(window.location.search);
const seed = params.get("seed") || window.crypto.randomUUID();
const rand = seedrandom(seed);

//Random index item
function ri(arraySubject) {
    return arraySubject[Math.floor(rand() * arraySubject.length)];
}

function shuffle() {
    boonFeat.value = ri(dataFeat.feat
        .filter(f => !(f.prerequisite
            ?.filter(p => p.level > 4).length > 0)));
    boonSpell.value = ri(dataSpells
        .filter(s => s.level < 4));
    boonFeature.value = ri(dataFeatures.optionalfeature
        .filter(f => !(f.prerequisite
            ?.filter(p => p.level && p.level.level > 4).length > 0)));
}

shuffle();
</script>

<template>
    <h1 class="text-4xl font-bold underline">
        DND Character Boons
    </h1>
    <div class="flex actions my-2">
        <a :href="baseUrl" class="hover:bg-gray-100 border py-2 px-4 border-gray-400 rounded">Suffle</a>
        <a :href="'?seed=' + seed" class="hover:bg-gray-100 border py-2 px-4 border-gray-400 rounded">Share</a>
    </div>
    <ul class="results">
        <li v-if="boonFeat">
            <h3 class="text-2xl">Feat</h3>
            <StatBlock :item="boonFeat" type="feats"></StatBlock>
        </li>
        <li v-if="boonSpell">
            <h3 class="text-2xl">Spell</h3>
            <StatBlock :item="boonSpell" type="spells"></StatBlock>
        </li>
        <li v-if="boonFeature">
            <h3 class="text-2xl">Feature</h3>
            <StatBlock :item="boonFeature" type="optionalfeatures"></StatBlock>
        </li>
    </ul>
    <footer>
        <a href="https://gitlab.com/heorot/dnd-character-boons" target="__blank" rel="noopener">Source</a>
    </footer>
</template>

<style scoped>
.results {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1250px) {
    .results {
        flex-direction: column;
    }
}

.actions {
    gap: 16px;
}

.actions a {
    color: #213547;
}
</style>