@import "font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Cantarell embed", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #333;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    place-items: center;
    min-width: 320px;
    flex-direction: column;
    margin: 2rem 2rem;
    min-height: 100vh;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    font-weight: bold;
}

a[href] {
    color: #646cff;
    text-decoration: underline;
    font-weight: normal;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}


h1,
h2,
h3,
h4 {
    font-family: "Cinzel Decorative", serif;
    font-weight: bold;
}

p {
    margin: 8px 0;
}

/* transition */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

body * {
    animation: fadeIn .15s ease-in-out;
}

footer {
    padding: 2rem;
}